//
   Created by kevin on 2/1/15.
extends layout
block content
   h1 Bubble Concept Test
      p Used to make sure the concepts like tokens work correctly.
   script(type='text/javascript', src='/javascripts/testFile.js')